/* Warna navbar custom */
.bg-custom {
  background-color: #2f3e46;
}

/* Warna tombol utama */
.btn-primary {
  background-color: #52796f;
  border-color: #52796f;
}

.btn-primary:hover {
  background-color: #354f52;
}

/* Supaya gambar rapi */
.card img {
  object-fit: cover;
}
